<style>
  .page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(224, 224, 224);
  }

  .form-signin {
    margin-top: -5%;
    min-width: 340px;
  }
</style>
<div class="page">
  <wform api="login" (onResult)="formResult($event.result)" [data]="data">
    <div class="card">
      <div class="card-header">
        <h3>Authentication</h3>
      </div>
      <div class="card-body">
        <app-input [(myModel)]="repo.login" [(myModelValue)]="data.login" label="Nom d'utilisateur" icon="fas fa-user">
        </app-input>
        <app-input [(myModel)]="repo.password" [(myModelValue)]="data.password" type="password" label="Mot de passe"
          icon="fas fa-key">
        </app-input>
        <button type="submit" class="btn btn-primary">Connecter</button>
      </div>
    </div>
  </wform>
</div>